/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

@font-face {
    font-family: "GNElliotWeb-Bold";
    src: url("/GNElliotWeb-Bold.ttf");
}

@font-face {
    font-family: "GNElliotWeb-Regular";
    src: url("/GNElliotWeb-Regular.ttf");
}

.home .hero img
  max-width 450px!important

body 
  font-family: "GNElliotWeb-Regular";
  font-size: 14px;
